/* Styling for the logo */
#logo {
  position: relative;
  top: -15px;
}

/* Styling for the buttons */
.topicButton {
  min-width: 125px;
}


















/*font-family: 'Source Sans Pro', sans-serif;*/
