/* Styling for the logo */
#logo {
  position: relative;
  top: -15px;
}

/* Styling for the buttons */
.topicButton {
  min-width: 125px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px 0px 0px;
}

.gifImage {
  margin: 10px 20px 10px 0px;
}

.userTopicButton {
  margin: 20px 4px 20px 0px;
  min-width: 125px;
}


















/*font-family: 'Source Sans Pro', sans-serif;*/
